.space-text{
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 1px !important;
}

.none{
  text-decoration: none;
  color: black;
}

.userFoto{
  border-radius: 50% !important;
  height: 65px !important;
  width: 65px !important;
  margin-right: 10px!important;
}
.btnDosIcones{
  border-color:#673AB7 !important;
  background-color: white !important;
  color: #673AB7!important;
  height:30px!important;
  width: 20px!important;
}