.homeBg{
  background-image: url(../../assets/img/homeBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vh;
  min-height: calc(100vh - 245.75px);
}