.homeBg{
  background-image: url(https://www.animatedimages.org/data/media/1513/animated-sea-and-ocean-image-0008.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vh;
  min-height: calc(100vh - 245.75px);
}