.text-decorator-none{
  text-decoration: none !important;
}

.card{
  background: linear-gradient(36deg, #1a71a490 8%, #ce455e90 89%);
}

.button{
  margin-top: 20px!important;
  border-color: white!important;
  background-color: #673AB7!important;
  color: white!important;
}

.caixa{
  background-color: #3F51B5;
}

.titulo{
 color: white !important;
 font-weight: bold !important;
}

.botaoo{
  border-color: white !important;
  background-color: #673AB7!important;
  color: white !important;
}

.postagens{
  background-color: white;
}

.bot02{
  border-radius: 20px!important;
  margin: 50px;
  padding: 50px!important;
}

.ft{
  padding-top: 30px;;
}
