.topo{
  margin-top: 50px;
  
}

.topo2{
  color: white !important;
}


.formtema input{
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px rgb(185, 94, 132);
}



.finalizar{
  border-color: white !important;
  background-color: #673AB7!important;
  color: white !important;
  margin-top: 10px !important;
}